body {
  font: 14px vazir;
  padding: 85px 0 0 0;
}

.dark-pic{
  filter: invert(100%);
}

.navbar {
  float: right;
  width: 100%;
  border-radius: 0;
  background-color: #bf5600;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.navbar-brand {
  float: right;
  width: 32px;
  height: 32px;
}

.navbar h1 {
  float: right;
  margin: 0;
  color: #ffffff;
  font-size: 17px;
  padding: 0;
}

.img-lang {
  margin-top: 2px;
  margin-left: 5px;
  padding-right: 0px;
  width: 25px;
  height: 25px;
}

.none {
  display: none;
}

.alert {
  margin: 20px 0;
}

.alert em {
  font-style: normal;
}

.input-group {
  float: right !important;
  width: 100%;
}

.input-group input.form-control {
  width: calc(100% - 100px) !important;
  float: left;
  margin: 0;
}

.input-group .input-group-btn {
  width: 100px !important;
  float: right;
}

.input-group .input-group-btn button {
  width: 100% !important;
  border-left: 0;
}

p {
  font-size: 14px;
}

.orClass {
  float: right;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #696969;
  margin: 20px 0;
}

.orClass small {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: -9px;
  text-shadow: 0 0 7px #fff;
}

.form-check-input:checked {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
  color: #fff;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000c;
  border: 1px solid #44444c;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 25px;
  cursor: pointer;
}

input:checked + .slider {
  background-color: royalblue;
}

.switch strong {
  float: right;
  margin: 3px 15px 0 15px;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

footer {
  padding: 10px 0;
  float: right;
  width: 100%;
  line-height: 20px;
}

footer p {
  float: right;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

@media (max-width: 700px) {
  body,
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .fullBox .rightSide {
    width: 50%;
    padding-left: 10px;
  }

  .fullBox .leftSide {
    width: 50%;
  }

  .fullBox .leftSide textarea {
    height: 255px;
  }
}

@media (max-width: 500px) {
  .betaVersion.rangeSelector .clearfix {
    display: block;
  }

  .fullBox .rightSide {
    width: 100%;
    padding-left: 0;
  }

  .fullBox .leftSide {
    width: 100%;
  }

  .fullBox .leftSide textarea {
    margin-top: 10px;
    height: 70px;
  }
}
